@page "/page/areaedit/{id}"
@layout AdminLayout
@inject IArea _area
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IToastService toastService
@attribute [Authorize]
<div class="container-fluid">
                        <h2 class="mt-30 page-title">Area</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a>Setting</a></li>
                            <li class="breadcrumb-item"><a>Area</a></li>
                            <li class="breadcrumb-item active">Edit Area</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Edit New Brand</h4>
									</div>
									<div class="card-body-table">
										<EditForm Model="master" OnValidSubmit="Save">
                                            <DataAnnotationsValidator />
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Name*</label>
												<input type="text" class="form-control" @bind="master.AreaName" placeholder="Area Name">
											<ValidationMessage For="@(() => master.AreaName)" />
                                            </div>
											<button class="save-btn hover-btn" type="submit">Update</button>
										</div>
										</EditForm>
									</div>
								</div>
							</div>
                        </div>
                    </div>

@code {
    [Parameter]
    public string id { get; set; }
    Area master = new Area();
    protected async override void OnInitialized()
    {
        master = await _area.GetbyId(Convert.ToInt32(id));
        StateHasChanged();
    }
    private async Task Save()
    {
                var result = await _area.Update(master);

                   toastService.ShowSuccess("Successfully Updated");
                   NavigationManager.NavigateTo("/page/arealist");
    }
}
